.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

#container {
	width: 100%;
}

.myinput {
	width: 40%;
	margin-bottom: 1%;
}

.alert-fixed {
	position: fixed;
	bottom: 0px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alert {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.li_row:hover {
	background-color: pink;	
}

@media (min-width:1200px)
{
	#container{width: 50%;}
}

.tab-content {
	padding: 2%;
}