<!DOCTYPE html>
<html>
  <head>
    <title>MyFall - SpyFall but MINE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
    {% block header %}
    {% endblock %}
  </head>
  <body style="background-color: lightgray">
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="navbar-brand" src='/static/img/logo.png' alt='אוהב אותכם'>
        <a class="navbar-brand" href="/">MyFall</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/login/">Switch User</a></li>
          <li><a href="/statistics/">Statistics</a></li>
          <li><a href="/manage/">Manage</a></li>
        </ul>
      </div>
    </div>
    </nav>
    <br/>
    <br/>
    <br/>
      <div id="boxcontainer" align="center">
          {% block body %}
          {% endblock %}
      </div>
        {% block footer %}
          <p class="footer" style="text-align: center;"> OHEV OTHEM </p>
        {% endblock %}
      </div>
  </body>
</html>