{% extends "base.html" %}
{% block header %}
  <link href="/static/css/games.css" rel="stylesheet">
  <script src="/static/js/games.js"></script>
  <script>
    get_sets()
    update_games()
    setInterval(function() {update_games(); }, 1000);
  </script>
{% endblock %}
{% block body %}
<br/>
<br/>
<br/>
<br/>
<div id="container">
<ul class="nav nav-tabs">
    <li class="active"><a id="actions_tab_a" data-toggle="tab" href="#actions_div">Menu</a></li>
    <li><a id="rooms_tab_a" data-toggle="tab" href="#rooms_tab">Rooms <span id="number_of_rooms" class="badge"></span></a></li>
  </ul>
  <div class="tab-content">
  <div id="actions_div" class="panel panel-default tab-pane fade in active" style="width: 100%; padding: 1%">
    <div class="form-group" style="width: 70%">
      <label for="game_code_input">שם החדר</label>
      <input type="text" class="form-control" id="game_code_input">
    </div>
    <button type="button" class="btn btn-success" onclick="join_game(game_code_input.value)">התחבר</button>
    <button type="button" class="btn btn-info" onclick="create_game()">צור</button>
  </div>
    <div style="padding: 3%;" id="rooms_tab" class="panel panel-default tab-pane fade in">
      <label id="rooms_label">מספר חדרים: <span id="rooms_number">0</span></label>
      <div style="display: none;" id="role" class="panel-heading">
        <h2 id="role_header"></h2>
      </div>
      <div id="games_list"></div>
      <div style="display: none;" id="places_div" class="panel panel-default">
      <div class="panel-heading">
      <h3>רשימת מקומות</h3>
        <div style="align: center; text-align: center;" class="list-group row" id="game_places_list"></div>
      </div>
  </div>
    </div>
</div>
<br/>
<div id="sets_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose A Set</h4>
      </div>
      <div class="modal-body">
      <div>
      <label><span class="input-group-btn-vertical">
       <button onclick="spy_up()" class="btn btn-default" type="button">
       <i class="glyphicon glyphicon-circle-arrow-up">
      </i>
      </button>
       <span id="number_of_spies">1</span>
       Spies </span>
       </label>
       <button onclick="spy_down()" style="margin-left: 5px;"" class="btn btn-default" type="button">
       <i class="glyphicon glyphicon-circle-arrow-down">
      </i>
      </button>
          <div id='set_modal_list'>
          </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="start_game()">Start</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}