{% extends "base.html" %}
{% block header %}
  <link href="/static/css/login.css" rel="stylesheet">
  <script src="/static/js/login.js"></script>
  <script type="text/javascript">
    get_players()
  </script>
{% endblock %}
{% block body %}
<br/>
<br/>
<br/>
<br/>
<div id="container">
<div class="panel panel-default" style="padding-bottom: 2%">
  <div class="panel-heading">כניסה</div>
  <br/>
  <input onkeyup="on_text_change()" onchange="on_text_change()" type="text" class="form-control" id="player_search" style="width: 70%;">
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" id="player" type="button" data-toggle="dropdown">
  <span class="badge" id="number_of_players"></span>
  מי אתה?
  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="players_list">
  </ul>
</div>
  <hr/>
  <div class="form-group" style="display: none" id="display_div">
    <label for="usr">שם תצוגה</label>
    <input type="text" class="form-control" id="display_name" style="width: 50%">
    <br/>
    <button type="button" class="btn btn-success" onclick="connect()">התחבר</button>
  </div>
</div>
</div>
{% endblock %}