{% extends "base.html" %}
{% block header %}
  <link href="/static/css/manage.css" rel="stylesheet">
  <script src="/static/js/manage.js"></script>
  <script>
    update_values()
    setInterval(function() {update_values(); }, 1000);
  </script>
{% endblock %}
{% block body %}
<br/>
<br/>
<br/>
<br/>
  <div class="panel panel-default" id="container">
  <div class="panel-heading">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#players">Players</a></li>
    <li><a data-toggle="tab" href="#groups">Groups</a></li>
    <li><a data-toggle="tab" href="#places">Places</a></li>
    <li><a data-toggle="tab" href="#sets">Sets</a></li>
  </ul>
  </div>

  <div class="tab-content">
    <div id="players" class="tab-pane fade in active">
      <input type="text" class="form-control myinput" id="players_input">
      <button id='add_button' onclick="add_obj('players')" type="button" class="btn btn-success">הוסף שחקן</button>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="players_list">
        </tbody>
      </table>
    </div>

    <div id="groups" class="tab-pane fade">
      <input type="text" class="form-control myinput" id="groups_input">
      <button id='add_button' onclick="add_obj('groups')" type="button" class="btn btn-success">הוסף קבוצה</button>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Group Name</th>
            <th>Players</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="groups_list">
        </tbody>
      </table>
    </div>

    <div id="places" class="tab-pane fade">
      <input type="text" class="form-control myinput" id="places_input">
      <button id='add_button' onclick="add_obj('places')" type="button" class="btn btn-success">הוסף מקום</button>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Place Name</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="places_list">
        </tbody>
      </table>
    </div>
    
    <div id="sets" class="tab-pane fade">
      <input type="text" class="form-control myinput" id="sets_input">
      <button id='add_button' onclick="add_obj('sets')" type="button" class="btn btn-success">הוסף סט</button>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Set Name</th>
            <th>Places</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="sets_list">
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div id="alerts" class="alert-fixed">
  </div>
  <div id="groups_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a player to <span id=group_name></span></h4>
      </div>
      <div class="modal-body">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" id='group_chosen' type="button" data-toggle="dropdown">
          <span class="caret"></span>
          הוסף שחקן
          </button>
          <ul class="dropdown-menu" id='groups_modal_list'>
          </ul>
        </div>
        <hr/>
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="caret"></span>
          מחק שחקן
          </button>
          <ul class="dropdown-menu" id='groups_modal_existing'>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="sets_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a place to  <span id=set_name></span></h4>
      </div>
      <div class="modal-body">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" id='set_chosen' type="button" data-toggle="dropdown">
          <span class="caret"></span>
          הוסף מקום
          </button>
          <ul class="dropdown-menu" id='sets_modal_list'>
          </ul>
        </div>
        <br/>
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="caret"></span>
          מחק מקום
          </button>
          <ul class="dropdown-menu" id='sets_modal_existing'>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<br/>
{% endblock %}