   

{% extends "base.html" %}
{% block header %}
<link href="/static/css/statistics.css" rel="stylesheet">
<script type="text/javascript">
	function drawChart() {

	  var data = google.visualization.arrayToDataTable([
	    ['Effort', 'Amount given'],
	    {% for slice in slices %}
	    	['{{ slice.player_name }}',     {{ slice.times_a_spy}}],
	    {% endfor %}
	  ]);

	  var options = {
	    pieHole: 0.5,
        sliceVisibilityThreshold: 0,
	    pieSliceText: 'none',
	    chartArea: {
	    	width: "100%" 
	    },
	    pieSliceTextStyle: {
	      color: 'black',
	    },
	    legend: 'true'
	  };

	  var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
	  chart.draw(data, options);
	}
</script>
	<script type="text/javascript" src="/static/js/loader.js"></script>
	<script type="text/javascript" src="/static/js/statistics.js"></script>
{% endblock %}
{% block body %}
<div id="container">

<div class="panel panel-default" style="padding-bottom: 2%">
  <div class="panel-heading">חלוקת מרגלים</div>
  <br/>
	<div id="donut_single" style="width: 100%; height: 100%;">
</div>
</div>	
</div>
{% endblock %}